@import '../../app.scss';

.my-img {
    height: 100vh;
    background: linear-gradient(180deg, #0c0c1d, #111132);
    overflow: hidden;
    position: relative;
    width: 100%;

    .wrapper {
        max-width: 1366px;
        height: 100%;
        margin: auto;

        .text-container {
            top: 0;
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;
            margin-left: 50px;

            @include mobile {
                height: 50%;
                width: 100%;
                gap: 20px;
                align-items: center;
                text-align: center;
            }

            h2 {
                margin-top: -100px;
                font-size: 30px;
                color: #C683D7;
                letter-spacing: 10px;
            }

            h1 {
                font-size: 88px;
                color: #F7FBFC;

                span {
                    color: #FFF700;
                }

                @include mobile {
                    font-size: 36px;
                }
            }

            .buttons {
                z-index: 999;

                button {
                    padding: 20px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    margin-right: 20px;
                    cursor: pointer;
                    font-weight: 300;
                }

                .resume {
                    z-index: 999;
                    background: hsla(271, 100%, 50%, 1);
                    background: linear-gradient(225deg, hsla(271, 100%, 50%, 1) 0%, hsla(294, 100%, 50%, 1) 100%);
                    height: 100%;
                    width: 40%;
                    font-size: 20px;
                    font-weight: bold;

                    @include mobile {
                        margin: 10px 0;
                        padding: 10px 0;
                        height: 40%;
                        width: 50%;
                        font-size: 14px;
                    }
                }
            }

            img {
                width: 50px;
            }

            .google {
                margin-top: -20%;
                width: 90%;
                margin-bottom: -12%;

                @include mobile {
                    top: unset;
                    width: 70%;
                }
            }
        }
    }

    .image-container {
        height: 100%;
        position: absolute;
        top: 0%;
        right: 0px;
        margin-right: -15%;

        @include mobile {
            height: 50%;
            width: 100%;
            top: unset;
            bottom: 0;
            left: 20vw;
        }

        img {
            width: 135%;
            height: 150%;
            object-fit: cover;

            @include mobile {
                width: 125%;
                height: 128%;
            }
        }
    }

    .sliding-text-container {
        position: absolute;
        font-size: 50vh;
        bottom: -120px;
        white-space: nowrap;
        color: #ffffff09;
        width: 50%;
        font-weight: bold;
    }

}